{{ form_start(form,{'action':path('update_type_page')}) }}
<div class="form-row align-items-center">
   
    <div class="col-auto">
{{ form_row(form.attribute) }}
    </div>
     <div class="col-auto">
<button class="btn btn-primary mb-2" type="submit">Mettre a jour</button>
    </div>
</div>

{{ form_end(form) }}
   