{{ form_start(form, {
    'attr': {'class': 'update-type-form'},
    'action': path('update_type_page')
}) }}
    {{ form_widget(form.attribute, {
        'attr': {'class': 'update-type-form__select'}
    }) }}
    {{ form_errors(form.attribute) }}
    <button class="update-type-form__submit" type="submit">
        Mettre à jour
    </button>
{{ form_end(form) }}


