{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
  <div class="mb-3" style="background-color: orangered;color: white; text-justify: auto;height: 50px;">
    {% if app.user %}
    <div class="mb-3">
      Bienvenue:  {{ app.user.userName }}, <a href="{{ path('app_logout') }}" class="button" style="background-color:black ;text-decoration: none; border-radius: 10px;border: 3px solid;color: white;margin-left: 800px;">Se deconnecter</a>
    </div>
    </div>
{% endif %}
   <br />
   <div class="panel panel-default">
    <div class="panel-heading">Sample Data</div>
    <div class="panel-body">
     <div class="table-responsive">
      <table id="sample_data" class="table table-bordered table-striped">
       <thead>
        <tr>
         <th>ID</th>
         <th>Path</th>
         <th>Matricule</th>
         <th>Année</th>
         <th>Page</th>
         <th>Ligne</th>
         <th>Label</th>
         <th>Notes</th>
         <th>Annee n</th>
         <th>Annee n-1</th>
         <th>Code</th>
         <th>Type page</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
  <br />
  <br />
{% endblock %}
